---
import TitleCommon from "../common/TitleCommon.astro";
import Section from "../common/Section.astro";

interface Service {
  label: string;
  src: string;
  href?: string;
}

interface Props {
  title: string;
  subtitle: string;
  services: Service[];
}

const { title, subtitle, services } = Astro.props;
---

<Section
  background="white"
  padding="large"
  width="full"
  height="auto"
  id="wecare-section"
>
  <div class="container mx-auto relative px-4 sm:px-6 lg:px-8">
    <TitleCommon
      title={title}
      subtitle={subtitle}
      class="text-primary-dark text-center mb-12"
    />
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[1fr_2fr_1fr] gap-6 md:gap-4">
      {services.map((service, i) => (
        <div class="border border-primary/40 md:border-none overflow-hidden rounded-lg shadow-md transition-shadow duration-300 hover:shadow-lg">
          <a
            class="block relative overflow-hidden group"
            href={service.href}
          >
            <img
              src={service.src}
              alt={service.label}
              class="object-cover w-full h-full max-h-[350px] transition-transform duration-300 group-hover:scale-105"
              loading="lazy"
            />
            <div class="absolute inset-0 bg-gradient-to-t from-deep-blue to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end justify-center pb-4">
              <span class="text-white font-semibold text-lg sm:text-xl md:text-2xl">
                Mehr erfahren
              </span>
            </div>
          </a>
          <span class="block text-center md:text-left text-ag-testimonial-text font-bold font-ag-h5 my-4 px-4">
            {service.label}
          </span>
        </div>
      ))}
    </div>
  </div>
</Section>