---
// import ContactForm from "../common/ContactForm.astro";
import TextBlock from "../common/TextBlock.astro";
import Section from "../common/Section.astro";
interface FaqItem {
  question: string;
  answer: string;
}

interface Props {
  title: string;
  subtitle: string;
  faqItems: FaqItem[];
  contactForm: {
    title: string;
    inputFields: {
      type: string;
      placeholder: string;
    }[];
    selectOptions: string[];
    textareaPlaceholder: string;
    buttonText: string;
  };
}

const { title, subtitle, faqItems, contactForm } = Astro.props;
---

<Section background="white"
padding="large"
width="full"
height="auto"
id="faq-section"
animation="fade-in"
>
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <TextBlock
      subtitle={subtitle}
      title={title}
      alignment="center"
      textColor="text-deep-blue"
    />
      
    </div>
    <div class="gap-8">
      <div class="space-y-6">
        {
          faqItems.map((item, index) => (
            <div class="bg-white rounded-lg shadow-md p-6">
              <button
                class="flex justify-between items-center w-full "
                onclick={`document.getElementById('faq-answer-${index}').classList.toggle('hidden')`}
              >
                <h3 class="text-xl font-semibold text-gray-900 text-center">
                  {item.question}
                </h3>
                <i class="fas fa-chevron-down text-blue-500" />
              </button>
              <p id={`faq-answer-${index}`} class="mt-4 text-gray-600 hidden">
                {item.answer}
              </p>
            </div>
          ))
        }
      </div>
      
    </div>
  </div>
</Section>
