---
import Button from "../common/Button.astro";
import Section from "../common/Section.astro";
import TextBlock from "../common/TextBlock.astro";
import ParallaxMedia from "../common/ParallaxMedia.astro";

const { subtitle, title, description, buttonText, videoSrc, posterSrc } = Astro.props;
---

<Section
  padding="large"
  width="full"
  height="h-full"
  id="hero-section"
  
  class="relative overflow-hidden"
>
  <div class="absolute inset-0 w-full h-full parallax-container">
    <ParallaxMedia 
    type="video" 
    src={videoSrc}
    posterSrc={posterSrc}
  />
  </div>
  <div
    class="relative z-10 "
  >
    <div class="lg:w-1/2 w-full px-4 font-bold">
      <TextBlock
        subtitle={subtitle}
        title={title}
        descriptionBold={description}
        alignment="left"
        textColor="text-deep-blue"
        
      />
      
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:justify-center lg:justify-start sm:space-y-0"
      >
        <Button variant="primary" size="medium" class="mx-auto sm:mx-0 lg:ml-8">
          {buttonText}
        </Button>
      </div>
    </div>
    <div class="hidden lg:block lg:w-1/2"></div>
  </div>
</Section>


<script>
  document.addEventListener('astro:page-load', () => {
    const video = document.querySelector('.parallax-video') as HTMLVideoElement;
    if (video) {
      video.play().catch(error => {
        console.error("Auto-play was prevented:", error);
        // Puedes agregar aquí una lógica alternativa si el auto-play falla
      });
    }
  });
</script>