---
import Section from "../common/Section.astro";
import TextBlock from "../common/TextBlock.astro";

const { subtitle, title, description, city, buttonText, stats } = Astro.props;
---

<Section 
background="white"
padding="large"
width="full"
height="auto"
id="experience-section"
animation="slide-in"
>
  <div class="container mx-auto text-white">
    <div class="flex flex-col md:flex-row items-center">
      <div class="w-full md:w-3/5 lg:w-2/3 mb-0">
        <img
          src="/assets/img/doctor_senior_care_tablet.webp"
          alt="World map with location markers"
          class="w-full h-[250px] md:h-[600px] object-cover"
          loading="lazy"
        />
      </div>
      <div class="w-full md:w-2/5 lg:w-1/3 md:pl-8 p-4">
        <TextBlock
          subtitle={subtitle}
          title={title}
          description={description}
          alignment="left"
          textColor="text-deep-blue"
          buttonText={buttonText}
          buttonVariant="primary"
          buttonSize="medium"
          buttonHref="/contact"
        />
      

      </div>
    </div>

    <div class="bg-soft-orange p-6 md:p-12">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-center">
        {
          stats.map((stat: { value: string; label: string }) => (
            <div class="flex flex-col items-center">
              <p class="text-ag-h3 font-ag-h3 text-blue-900">{stat.value}</p>
              <p class="text-ag-body-text font-ag-body-text text-black">
                {stat.label}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Section>
