---
import ContactForm from "../common/ContactForm.astro";
import Icon from "../common/Icon.astro";
import Section from "../common/Section.astro";
import TextBlock from "../common/TextBlock.astro";

interface ContactOption {
  icon: string;
  title: string;
  description: string;
}

interface Props {
  subtitle: string;
  title: string;
  description: string;
  contactOptions: ContactOption[];
  contactForm: {
    title: string;
    inputFields: {
      type: string;
      placeholder: string;
    }[];
    selectOptions: string[];
    textareaPlaceholder: string;
    buttonText: string;
  };
}

const { subtitle, title, description, contactOptions, contactForm } =
  Astro.props;

// Map the icon names to the ones used in Icon.astro
const iconNameMap: Record<string, string> = {
  "fa-globe": "globe",
  "fa-map-marker-alt": "location",
  "fa-phone-alt": "mobilePhone",
  "fa-envelope": "envelope",
};
---

<Section background="white"
  padding="large"
  width="full"
  height="auto"
  id="experience-section"
  animation="fade-in"
  >
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="space-y-8">
        <div>
          <TextBlock
          subtitle={subtitle}
          title={title}
          description={description}
          alignment="left"
          textColor="text-deep-blue"
    />
          
        </div>
        <div class="space-y-6">
          {
            contactOptions.map((option: ContactOption) => (
              <div class="flex items-center space-x-4 lg:ml-8">
                <div class="bg-soft-orange p-4 rounded-full text-deep-blue">
                  <Icon
                    icons={[{ name: iconNameMap[option.icon] || option.icon }]}
                    size="large"
                    variant="default"
                    customSize="text-xl"
                    
                  />
                </div>
                <div class="text-ag-body-text font-ag-body-text mb-2 sm:mb-2 md:mb-2 max-w-3xl mx-auto">
                  <h3 class="font-semibold">{option.title}</h3>
                  <p class="text-gray-600">{option.description}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      <div>
        <ContactForm size="medium" {...contactForm} />
      </div>
    </div>
  </div>
</Section>
