---
import Icon from '../common/Icon.astro';

const footerTexts = {
    logoAlt: 'Company Logo',
    slogan: 'Caring for our seniors with love and compassion.',
    resourcesTitle: 'Resources',
    followUsTitle: 'Follow us',
    legalTitle: 'Legal',
    links: {
        blog: 'Blog',
        guides: 'Guides',
        github: 'Github',
        linkedin: 'LinkedIn',
        privacyPolicy: 'Privacy Policy',
        termsConditions: 'Terms & Conditions',
        legal: 'Legales',
    },
    copyright: '© 2023 Integra. All Rights Reserved.',
};
---

<footer class="bg-deep-blue">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <!-- Footer Top -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
            <!-- Primera Columna: Logo, Texto y Social Media Links -->
            <div class="footer-top mb-6 md:mb-0">
                <a href="/" class="flex justify-center md:justify-start items-center mb-4">
                    <img src="/assets/logo/logo_integra.webp" class="h-12" alt={footerTexts.logoAlt} />
                </a>
                <p class="text-white font-ag-body-text text-ag-body-text mb-4 text-center md:text-left lg:w-11/12">
                    {footerTexts.slogan}
                </p>
                <div class="flex justify-center md:justify-start space-x-4 text-soft-orange">
                    <Icon socials={['facebook', 'twitter', 'instagram']} size="small"/>
                </div>
            </div>
            
            <!-- Segunda Columna: Recursos -->
            <div class="text-center md:text-left">
                <h5 class="mb-6 text-soft-orange font-ag-h5 text-ag-h5">{footerTexts.resourcesTitle}</h5>
                <ul class="text-white font-ag-body-text text-ag-body-text">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">{footerTexts.links.blog}</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">{footerTexts.links.guides}</a>
                    </li>
                </ul>
            </div>
            
            <!-- Tercera Columna: Siguenos -->
            <div class="text-center md:text-left">
                <h5 class="mb-6 text-soft-orange font-ag-h5 text-ag-h5">{footerTexts.followUsTitle}</h5>
                <ul class="text-white font-ag-body-text text-ag-body-text">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">{footerTexts.links.github}</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">{footerTexts.links.linkedin}</a>
                    </li>
                </ul>
            </div>
            
            <!-- Cuarta Columna: Legal -->
            <div class="text-center md:text-left">
                <h5 class="mb-6 text-soft-orange font-ag-h5 text-ag-h5">{footerTexts.legalTitle}</h5>
                <ul class="text-white font-ag-body-text text-ag-body-text">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">{footerTexts.links.privacyPolicy}</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">{footerTexts.links.termsConditions}</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">{footerTexts.links.legal}</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

        <!-- Footer Down -->
        <div class="sm:flex sm:items-center sm:justify-between text-center md:text-left text-white font-ag-body-text text-ag-body-text">
            <span>{footerTexts.copyright}</span>
            <div class="flex mt-4 sm:mt-0 justify-center md:justify-start space-x-4">
                <a href="#" class="">{footerTexts.links.privacyPolicy}</a>
                <a href="#" class="">{footerTexts.links.termsConditions}</a>
                <a href="#" class="">{footerTexts.links.legal}</a>
            </div>
        </div>
    </div>
</footer>
