---
import Button from "./Button.astro";
import Icon from "../common/Icon.astro";
import Section from "./Section.astro";
import TextBlock from "./TextBlock.astro";
interface Props {
  srcs: string[];
  subtitle: string;
  title: string;
  description: string;
  buttonText: string;
  class?: string;
}

const { srcs, subtitle, title, description, buttonText } = Astro.props;
---

<Section background="white"
padding="large"
width="full"
height="auto"
id="experience-section"
animation="grid-in"
>
  <div
    class="flex flex-col lg:flex-row items-center lg:items-stretch gap-8 lg:gap-12"
  >
    <div
      class="lg:w-1/3 flex flex-col justify-center items-center lg:items-start text-center lg:text-left"
    >
      <TextBlock
      subtitle={subtitle}
      title={title}
      description={description}
      alignment="left"
      textColor="text-deep-blue"
      
      />
      
      <div class="mt-0 flex justify-center">
        <Button flex class="mt-2 lg:ml-8 md:mt-2 mx-auto md:mx-0">
          <Icon icons={[{ name: "instagram" }]} size="small" variant="light"/>
          {buttonText}
        </Button>
      </div>
    </div>

    <div class="w-full lg:w-2/3 flex flex-col">
      <div
        class="md:hidden grid grid-cols-2 grid-rows-3 gap-4 aspect-square mb-2"
      >
        {
          srcs.map((src, index) => (
            <div
              class={`relative ${
                index === 0
                  ? "col-span-2 row-span-2"
                  : index === 4
                    ? "col-span-2"
                    : ""
              }`}
            >
              <img
                src={src}
                class="absolute inset-0 w-full h-full object-cover rounded-lg"
                alt=""
                loading="lazy"
              />
            </div>
          ))
        }
      </div>

      <div class="hidden md:grid md:grid-cols-3 gap-4 h-[600px]">
        <div class="grid grid-rows-[7fr,3fr] gap-4">
          <div class="relative">
            <img
              src={srcs[0]}
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
              alt="image 1 section gallery"
              loading="lazy"
            />
          </div>
          <div class="relative">
            <img
              src={srcs[1]}
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
              alt="image 2 section gallery"
              loading="lazy"
            />
          </div>
        </div>
        <div class="relative">
          <img
            src={srcs[2]}
            class="absolute inset-0 w-full h-full object-cover rounded-lg"
            alt="image 3 section gallery"
            loading="lazy"
          />
        </div>
        <div class="grid grid-rows-[3fr,7fr] gap-4">
          <div class="relative">
            <img
              src={srcs[3]}
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
              alt="image 4 section gallery"
              loading="lazy"
            />
          </div>
          <div class="relative">
            <img
              src={srcs[4]}
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
              alt="image 5 section gallery"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="md:hidden mt-2 flex justify-center">
        <Button flex variant="primary" size="medium">
          <Icon variant="light" icons={[{ name: "instagram" }]} size="small" />
          {buttonText}
        </Button>
      </div>
    </div>
  </div>
</Section>
