---
import ReactSwiperSlider from "./Slider.jsx";
import Section from "./Section.astro";
import TextBlock from "./TextBlock.astro";

const { images, subtitle, title } = Astro.props;

const imageClasses = "w-full h-[250px] object-cover";
const titleClasses = "text-white text-xl font-bold";
const textClasses = "text-white text-ag-body-text font-ag-body-text text-sm";
const wrapperClasses = "absolute bottom-0 left-0 bg-blue-900 p-2";
---

<Section background="primary"
padding="large"
width="full"
height="auto"
id="experience-section"
animation="zoom-in"
>
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-8">
      <div class="flex flex-col">
        <TextBlock
          subtitle={subtitle}
          title={title}
          
          alignment="left"
          textColor="text-white"
        />
        
      </div>
      <div class="flex space-x-4">
        <button
          class="text-white hover:text-blue-200 focus:outline-none"
          aria-label="Previous slide"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <button
          class="text-white hover:text-blue-200 focus:outline-none"
          aria-label="Next slide"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="w-full relative">
      <ReactSwiperSlider
        slides={images}
        imgClass={imageClasses}
        titleClass={titleClasses}
        textClass={textClasses}
        wrapperClass={wrapperClasses}
        isImageSlider={false}
        divType="flex-col"
        client:load
      />
    </div>
  </div>
</Section>
