---
import ReactSwiperSlider from './Slider.jsx';

interface Props {
  subtitle: string;
  title: string;
  offerings: {
    src: string;
    alt: string;
    text: string;
  }[];
}

const { subtitle, title, offerings } = Astro.props;

const imageClasses = "w-full h-[224px] object-cover";
const textClasses = "text-white text-xl font-bold";
const wrapperClasses = "absolute bottom-0 left-0 bg-blue-900 p-4";
---

<section class="bg-deep-blue py-16">
  <div class="container mx-auto px-4 max-w-screen-xl">
    <div class="text-center mb-12">
      <p class="text-ag-sub-heading font-ag-sub-heading text-white mb-2">{subtitle}</p>
      <h2 class="text-ag-h3 font-ag-h3 font-bold text-white">{title}</h2>
    </div>
    <div class="w-full relative">
      <ReactSwiperSlider 
        slides={offerings} 
        imgClass={imageClasses} 
        textClass={textClasses}
        wrapperClass={wrapperClasses}
        isImageSlider={true} 
        divType="flex-col"
        client:load
      />
    </div>
  </div>
</section>