---
import ReactSwiperSlider from "./Slider.jsx";
import TextBlock from "./TextBlock.astro";
import Section from "./Section.astro";

const { images, title, subtitle } = Astro.props;

const imagenclases = "w-auto h-[240px] sm:h-[280px] md:h-[320px] lg:h-[360px] object-cover rounded-lg shadow-medium";
const textclasses =
  "mt-3 sm:mt-4 text-white text-ag-body-text font-ag-body-text text-left leading-relaxed";
const wrapperClasses = "relative overflow-hidden rounded-lg";
---

<Section width="full" height="auto"
id="ImageCarrousel-section" class="relative" animation="zoom-in">
  <div class="container mx-auto">
    <div class="absolute inset-0 w-full h-full">
      <div class="w-full h-1/2 bg-white"></div>
      <div class="w-full h-1/2 bg-deep-blue"></div>
    </div>
    <div class="relative mx-auto w-full z-10">
      <TextBlock
          subtitle={subtitle}
          title={title}
          alignment="center"
          textColor="text-deep-blue"
        />
      
      <div class="w-full relative">
        <ReactSwiperSlider
          slides={images}
          imgClass={imagenclases}
          textClass={textclasses}
          wrapperClass={wrapperClasses}
          isImageSlider={true}
          divType="flex-col"
          client:load
        />
      </div>
    </div>
  </div>
</Section>
